/*================================================================================
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.dataTables_length {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.dataTables_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left !important;
}

.table-add-more {
  color: #fff !important;
  font-weight: 700;
}

.table-actions {
  display: flex;
  flex-direction: column;
}

.table-actions button,
.table-actions a {
  margin: 10px 5px;
}

.overflow-auto {
  overflow: auto !important;
}

/* USER TABLE STYLES */
#user-table th,
#user-table td {
  padding: 0.75rem 1.5rem;
}

#user-table th {
  border-top: none;
  border-bottom: none;
}

#user-table thead th:nth-of-type(2) {
  width: 125px !important;
}

#user-table thead th:last-child {
  width: 80% !important;
}

/* Selcet2 */
.select2-search__field {
  width: 100% !important;
}
/*user-profile page*/
.user-profile .personal-info {
  padding-top: 6%;
}
.user-profile #image {
  margin-left: 0;
  width: 100%;
}
.user-profile .main-details {
  margin-top: 4%;
  font-size: 1.3rem;
  margin-top: 2rem;
}
.user-profile .title {
  font-weight: bold;
}
.user-profile .user-info {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.06) !important;
  box-shadow: 0px 1px 15px 1px rgba(62, 57, 107, 0.07) !important;
}
.user-profile .card {
  padding: 1rem !important;
}

.user-profile .card-label {
  margin-bottom: 0.2rem;
}

.user-profile #user-actions {
  float: right !important;
}

.edit-user #image {
  width: 8%;
  float: left;
  margin-top: -20px;
  margin-right: 25px;
  border-radius: 50%;
}

.user-wallet .wallet-credit {
  font-weight: bold;
  position: relative;
  float: right !important;
}
.user-wallet #whole-credit {
  color: #7b1fa2;
}
.user-wallet #current-credit {
  color: #7b1fa2;
}
/*
*
* CREATE PROVIDER
*
*/

.percentage {
  position: absolute;
  right: 13px;
  top: 55%;
  color: #000;
  font-weight: 600;
}

/*
*
* PROVIDER PROFILE
*
*/

.provider-actions {
  display: flex;
  justify-content: flex-end;
}

.provider-img-wrapper,
.branch-img-wrapper {
  max-height: 100px;
  max-width: 100px;
}

.provider-img-wrapper img,
.branch-img-wrapper img {
  height: 100%;
  width: 100%;
}

.provider-id-name,
.branch-id-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 75%;
  margin-left: 3rem;
}

.provider-contacts,
.provider-categories,
.provider-sec-info,
.provider-description,
.branch-contacts,
.branch-categories,
.branch-features,
.branch-sec-info,
.branch-description,
.branch-additional-info,
.provider-add-info,
.order-rate-review,
.promo-contacts,
.promo-usage-info,
.promo-wallet-info,
.settings-sec-info,
.settings-commission-info,
.settings-wallet {
  margin-top: 2rem;
  box-shadow: 0px 1px 15px 1px rgba(62, 57, 107, 0.3) !important;
}

.provider-orders,
.provider-branches,
.provider-favs,
.provider-reviews,
.branch-orders,
.branch-branches,
.branch-favs,
.branch-reviews,
.branch-pickups,
.branch-dineins,
.branch-bookings,
.provider-res-cuisines,
.provider-res-price,
.provider-res-prep,
.order-sec-info,
.order-status,
.order-cash,
.order-main-info,
.promo-sec-info,
.settings-taxes-payments,
.settings-referral {
  box-shadow: 0px 1px 15px 1px rgba(62, 57, 107, 0.3) !important;
}

.provider-sec-info,
.order-sec-info {
  margin-top: 0;
  margin-bottom: 2rem;
}

.provider-main-branch,
.provider-type,
.provider-created-at,
.branch-main-branch,
.branch-type,
.branch-created-at {
  margin-bottom: 1rem;
}

.provider-categories,
.provider-sec-info,
.provider-description,
.branch-categories,
.branch-features,
.branch-sec-info,
.branch-description,
.provider-res-cuisines,
.order-sec-info,
.order-status,
.order-rate-review,
.order-main-info,
.promo-sec-info,
.settings-sec-info,
.settings-main-info {
  padding: 2rem;
}

.provider-contacts ul,
.branch-contacts ul,
.branch-additional-info ul,
.order-cash ul,
.promo-contacts ul,
.promo-usage-info ul,
.promo-wallet-info ul,
.settings-wallet ul,
.settings-commission-info ul,
.settings-taxes-payments ul,
.settings-referral ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.provider-contacts ul li:last-child,
.branch-contacts ul li:last-child,
.branch-additional-info ul li:last-child,
.order-cash ul li:last-child,
.promo-contacts ul li:last-child,
.promo-usage-info ul li:last-child,
.promo-wallet-info ul li:last-child,
.settings-wallet ul li:last-child,
.settings-commission-info ul li:last-child,
.settings-taxes-payments ul li:last-child,
.settings-referral ul li:last-child {
  margin-bottom: 0;
}

/*
*
* Add Product
*
*/

#product-description {
  width: 100%;
}

#product-img {
  min-height: 250px;
}

#product-img .dz-message {
  top: 100px;
}

.option-input {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Add Event */
#event-img {
  height: 100%;
}

.edit-img-wrapper {
  position: relative;
  max-height: 450px;
  max-width: 450px;
  cursor: pointer;
}

.edit-img-wrapper:hover .edit-image-overlay {
  opacity: 1;
}

.edit-img-wrapper img {
  width: 100%;
  height: 100%;
}

.edit-image-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all linear 0.1s;
}

.edit-image-overlay .la {
  color: #fff !important;
  font-size: 3.5rem !important;
}

/* Create Branch */
.form-check-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.checkmark-radio {
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.form-check-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.form-check-label input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.form-check-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.form-check-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#notification-img .dz-message {
  top: 18% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-timeline {
  position: relative;
  padding: 10px;
  overflow: hidden;
}

.order-timeline::before {
  content: '';
  position: absolute;
  width: 5px;
  background-color: #ccc;
  top: 0;
  bottom: 0;
  left: 4%;
  margin-left: -3px;
}

.order-timeline-content {
  background: #f1f1f1;
  padding: 1rem;
  margin: 1.5rem 4rem;
  position: relative;
}

.order-timeline-content::before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50px;
  left: -10px;
  transform: translateY(-50%) rotate(45deg);
  background: #f1f1f1;
}

.order-timeline-content::after {
  content: '';
  width: 30px;
  height: 30px;
  background: #2196f3;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: -63px;
  transform: translateY(-50%);
}
